<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Batch Advisory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Batch_Advisory.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img class="navbar-logo" src="~/img/logo.png"/></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Add Course</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@

        

        <nav class="nav navbar-expand-sm navbar-toggleable-sm" id="navbar">
            <div class="nav-brand-container">
                <img src="~/img/Croplogo.png"
                     alt="logo14824"
                     class="nav-logo-img" />
                <div class="logo-text">
                    <span class="logo-name">HiLCoE</span>
                    <span class="logo-subname">
                        School of Computer Science Technology
                    </span>
                </div>
            </div>

            @{
                var controller = ViewContext.RouteData.Values["controller"].ToString();

                if (controller == "Home")
                {
                    <div class="nav-menu">               
                        <span class="nav-link-item" onclick="openNav()"><span>Login</span></span>
                    </div>

                    <partial name="_Sidebar"/>
                }
                else if(controller=="Advisors")
                {
                     <div class="nav-menu">
                        <div class="nav-link-item" onclick="openNav()"><img src="~/img/profile_icon.png" alt="profileicon" class="profileicon" width="40px"></div>
                    </div>
                    <partial name="_SidebarAdvisorLoggedIn" />
                }
                else{
                    <div class="nav-menu">
                        <div class="nav-link-item" onclick="openNav()"><img src="~/img/profile_icon.png" alt="profileicon" class="profileicon" width="40px"></div>
                    </div>
                    <partial name="_SidebarLoggedIn" />
                }
             }


            

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="foot">
            <div class="logo-text">
                <span class="logo-name">HiLCoE</span>
                <span class="logo-subname">
                    School of Computer Science Technology
                </span>
            </div>

            <div class="foot-info">
                <span class="foot-about">About Us</span>
                <span class="foot-contact">Contact Us</span>
            </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
